:root {
    --font: 'Heebo', Helvetica, Arial, sans-serif;
    --primary-color: #372ec1;
    --white: white;
    --body-background: #fdfdff;
    --auth-background: #f2f4f7;
    --color-white: white;
    --color-black: #3f3d56;
    --color-grey: #b1b1b1;
    --color-red: #ff3d5a;
    --color-yellow: #fe9c00;
    --color-green: rgb(52, 255, 52);
    --box-shadow: 0px 4px 10px 6px #5c38970c;
}
